a {
    color: #b5e853;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

div.ui-layout-west, div.ui-layout-north {
    background-color: #1b1b1b;
    color: #999;
    padding: 0 12px;
}
div.ui-layout-north {
    color: white;
}

#header, #sidebar {
    font-size: 12px;
    font-family: 'Consolas', 'Droid Sans Mono';
}

div.ui-layout-center {
    background-color: #ccc;
    padding: 0;
}
div[id^=editor-] {
    position: absolute;
    top: 22px;
    left: 0;    
    bottom: 0;
    right: 0;
    font-family: 'Consolas', 'Droid Sans Mono';
}

#navbar {
    display: inline;
}
#navbar a {
    color: #333;
    font-size: 12px;
}
#navbar span {
    margin: 0 4px;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-image: none;
    background-color: #ddd;
}

#toolbar {
    display: inline;
    float: right;
    margin-right: 2px;
}
#toolbar a {
    font-size: 14px;
    color: #222;
    padding: 0px 3px;
}
#toolbar a:hover {
    background-color: #aaa;
}
#hidden_btn {
    color: #DDD;
}

#drives_select {
    height: 16px;
    font-size: 11px;
}

#tabs {
    font-size: 12px;
    padding: 0;
}
li a {
    outline-color: transparent;
}
.ui-icon-close {
    float: left;
    cursor: pointer;
}
#tabs .ui-tabs-nav {
    height: 22px;
    border-width: 0px;
    border-radius: 0px;
    padding: 0;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 2px 8px 3px 8px;
}
