a {
    color: #F92672;
    text-decoration: none;
    white-space: nowrap;
}

#header, #sidebar {
    line-height: 1.5;
    background-color: #272822;
    color: white;
    padding: 2px 8px;
}

#options_link {
    float: right;
}
