a {
    color: #b5e853;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

div.ui-layout-west, div.ui-layout-north {
    background-color: #1b1b1b;
    color: white;
    padding: 0 12px;
}

#header, #sidebar {
    font-size: 12px;
    font-family: 'Consolas', 'Droid Sans Mono';
}

div.ui-layout-center {
    padding: 0;
}
#editor {
    width: 100%;
    height: 100%;
    font-family: 'Consolas', 'Droid Sans Mono';
}

#navbar {
    display: inline;
}
#navbar a {
    color: #333;
    font-size: 12px;
}
#navbar span {
    margin: 0 4px;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-image: none;
    background-color: #ddd;
}

#toolbar {
    display: inline;
    float: right;
    margin-right: 2px;
}
#toolbar a {
    font-size: 14px;
    color: #222;
    padding: 1px 4px;
}
#toolbar a:hover {
    color: #b5e853;
    background-color: #1b1b1b;
}
#hidden_btn {
    color: #DDD;
}

#drives_select {
    height: 16px;
    font-size: 11px;
}
