body {
    background-color: #272822;
    color: #F92672;
}

#container {
    margin: 32px auto;
}

td {
    padding: 8px 16px;
}

select {
    width: 175px;
    height: 24px;
}

#btn {
    width: 100%;
    height: 32px;
}

#close_btn {
    width: 100%;
    height: 28px;
}
