body {
    background-color: #272822;
    color: #F92672;
    font-family: 'Consolas', 'Droid Sans Mono';
    font-size: 12px;
}

#container {
    margin: 32px auto;
}

td {
    padding: 3px 12px;
}

select {
    width: 175px;
    height: 24px;
}

#btn {
    width: 100%;
    height: 28px;
}

#tab_size_label {
    font-size: 20px;
    margin-left: 16px;
}
