body {
    background-color: #272822;
    color: #F92672;
    font-size: 15px;
}

#container {
    margin: 32px auto;
}

td {
    padding: 3px 12px;
}

select {
    width: 175px;
    height: 24px;
}

#btn {
    width: 100%;
    height: 28px;
}
