body {
    background-color: #1b1b1b;
    color: #b5e853;
    font-family: 'Consolas', 'Droid Sans Mono';
    font-size: 13px;
}

#container {
    margin: 32px auto;
}

td {
    padding: 3px 13px;
}

select {
    width: 175px;
    height: 24px;
}

#save_btn {
    width: 100%;
    height: 28px;
}

#tab_size_value {
    font-size: 20px;
    margin-left: 16px;
}
